.t-america-mg,
.t-gama,
.t-rapid-vien {
    background: white;
    color: green;
}

.t-aston-villa {
    background: brown;
    color: lightblue;
}

.t-athletico,
.t-bayern-munchen,
.t-benfica,
.t-botafogo-sp,
.t-derry-city,
.t-dynamo-kyiv,
.t-internacional,
.t-liverpool,
.t-manchester-united,
.t-monaco,
.t-sao-paulo {
    background: red;
    color: white;
}

.t-atletico-madrid {
    background: white;
    color: red;
}

.t-atletico-mg,
.t-bragantino,
.t-figueirense,
.t-juventus,
.t-ponte-preta,
.t-santos {
    background: black;
    color: white;
}

.t-avai,
.t-brusque,
.t-huddersfield {
    background: blue;
    color: white;
}

.t-bahia,
.t-barcelona {
    background: darkblue;
    color: red;
}

.t-borussia-dortmund,
.t-lierse,
.t-parma {
    background: yellow;
    color: black;
}

.t-botafogo-santiago {
    background: gray;
    color: greenyellow;
}

.t-corinthians,
.t-guimaraes,
.t-metz,
.t-udinese,
.t-vasco {
    background: white;
    color: black;
}

.t-coritiba,
.t-goias,
.t-juventude,
.t-palmeiras,
.t-sporting {
    background: green;
    color: white;
}

.t-cruzeiro,
.t-gremio,
.t-porto {
    background: darkblue;
    color: white;
}

.t-fiorentina {
    background: purple;
    color: red;
}

.t-flamengo {
    background: red;
    color: black;
}

.t-fluminense,
.t-portuguesa,
.t-portuguesa-santista {
    background: red;
    color: lightgreen;
}

.t-galatasaray {
    background: yellow;
    color: red;
}

.t-guarani {
    background: black;
    color: green;
}

.t-hadjuk-split,
.t-real-madrid {
    background: white;
    color: blue;
}

.t-inter-milan {
    background: black;
    color: lightblue;
}

.t-lazio {
    background: white;
    color: blue;
}

.t-milan,
.t-sport,
.t-vitoria {
    background: black;
    color: red;
}

.t-montpellier {
    background: white;
    color: blue;
}

.t-nantes {
    background: yellow;
    color: blue;
}

.t-parana {
    background: red;
    color: blue;
}

.t-rome {
    background: red;
    color: yellow;
}

.t-torino {
    background: white;
    color: green;
}

.t-tubarao {
    background: blue;
    color: black;
}
